In [1]:
import pandas as pd
import numpy as np

In [2]:
motley = pd.read_csv('motleyfool.csv')

In [3]:
bloomberg = pd.read_csv('bloomberg.csv')

In [6]:
motley['source'] = 'motleyfool'

In [7]:
bloomberg['source'] = 'bloomberg'

In [8]:
merged = motley.append(bloomberg)

In [11]:
merged.to_csv('newsdata.csv', index=False, encoding='utf-8')

In [6]:
pd.read_csv('positive-words.txt', sep=' ', header=None)

                    0
0                  a+
1              abound
2             abounds
3           abundance
4            abundant
5          accessable
6          accessible
7             acclaim
8           acclaimed
9         acclamation
10           accolade
11          accolades
12      accommodative
13       accomodative
14         accomplish
15       accomplished
16     accomplishment
17    accomplishments
18           accurate
19         accurately
20         achievable
21        achievement
22       achievements
23         achievible
24             acumen
25          adaptable
26           adaptive
27           adequate
28         adjustable
29          admirable
...               ...
1976            witty
1977              won
1978           wonder
1979        wonderful
1980      wonderfully
1981        wonderous
1982      wonderously
1983          wonders
1984         wondrous
1985              woo
1986             work
1987         workable
1988           worked
1989            works
1990     world-famous
1991            worth
1992      worth-while
1993       worthiness
1994       worthwhile
1995           worthy
1996              wow
1997            wowed
1998           wowing
1999             wows
2000              yay
2001         youthful
2002             zeal
2003           zenith
2004             zest
2005            zippy

[2006 rows x 1 columns]